.popup__container {
    position: relative;
    box-sizing: border-box;
    width: calc(100vw - 38px);
    min-height: 322px;
    background: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0,.15);
    border-radius: 10px;
    margin: 0;
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 466px) {
    .popup__container {
        padding: 34px 36px 37px;
        max-width: 430px;
    }
}
